 /*================================================
            Table of contents  
==================================================
 
BASE CSS
PRELOADER
SECTION TITLE AND SECTION PADDING
INTRO SECTION
    HEADER AREA
    WELCOME AREA
ABOUT SECTION
SKILS SECTION
QUOTES AREA
CONTACT AND INFO SECTION
FOOTER SECTION
===================================================*/

 body {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     letter-spacing: 1px;
     line-height: 24px;
     overflow-y: hidden;
     background: #f0f0f0;
 }

 .white {
     color: #ffffff;
 }

 .alignleft {
     float: left;
     margin-right: 15px;
 }

 .alignright {
     float: right;
     margin-left: 15px;
 }

 .aligncenter {
     display: block;
     margin: 0 auto 15px;
 }

 a:focus {
     outline: 0 solid
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin: 0 0 15px;
     font-weight: 700;
     color: #000;
 }

 p {
     color: #444;
 }

 a:hover {
     text-decoration: none
 }

 .gap10 {
     display: block;
     height: 10px;
 }

 .gap20 {
     display: block;
     height: 20px;
 }

 .gap30 {
     display: block;
     height: 30px;
 }

 .gap40 {
     display: block;
     height: 40px;
 }
 /*========================
    THEAM COLOR
=========================*/

 .theme-color {
     background: #DC143C;
     color: #ffffff;
 }
 /*================================================
             PRELOADER
==================================================*/

 .preloader {
     position: fixed;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     color: #fff;
     background-color: #ccc;
     z-index: 9999999;
 }

 .preloader .spinner {
     left: 50%;
     margin-left: -20px;
     margin-top: -20px;
     position: absolute;
     top: 50%;
 }

 .spinner {
     width: 40px;
     height: 40px;
     background-color: #333;
     margin: 100px auto;
     -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
     animation: sk-rotateplane 1.2s infinite ease-in-out;
 }

 @-webkit-keyframes sk-rotateplane {
     0% {
         -webkit-transform: perspective(120px)
     }
     50% {
         -webkit-transform: perspective(120px) rotateY(180deg)
     }
     100% {
         -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
     }
 }

 @keyframes sk-rotateplane {
     0% {
         transform: perspective(120px) rotateX(0deg) rotateY(0deg);
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
     }
     50% {
         transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
         -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
     }
     100% {
         transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
         -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
     }
 }
 /*================================================
        SECTION TITLE AND SECTION PADDING
==================================================*/

 .section-title {
     color: #000;
     margin-bottom: 65px;
     display: inline-block;
     padding-left: 12px;
 }

 .section-title h2 {
     font-size: 28px;
     position: relative;
     display: inline-block;
     margin-bottom: 5px;
 }

 .section-title p {
     max-width: 600px;
     font-size: 14px;
 }

 .section-padding {
     padding: 50px 0;
 }
 /*
    ================================================
             INTRO SECTION
    ==================================================
 */

 .intro-section {
     height: 100%;
 }

 .welcome-area:after {
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     opacity: .8;
     z-index: -1;
 }

 .welcome-area {
     background: url("../assets/intro-bg.jpg");
     /*** intro-section background image ***/
     background-size: cover;
     z-index: 1;
     position: relative;
     height: 100%;
 }
 /*================================================
             WELCOME AREA
==================================================*/

 .welcome-area {
     height: 100%;
     position: relative;
     z-index: 3;
 }

 .welcome-table {
     display: table;
     width: 100%;
     height: 100%;
     text-align: center;
 }

 .welcome-cell {
     display: table-cell;
     vertical-align: middle;
 }

 .welcome-text .myname {
     font-size: 3.4em;
     color: #ffffff;
     font-family: 'Oswald', sans-serif;
 }

 .welcome-text h2,
 h3,
 h4,
 h5 {
     font-family: 'Droid Serif', serif;
 }

 .welcome-text h1 {
     font-size: 110px;
     color: #fff;
     margin-bottom: 15px;
     font-weight: 700;
     text-transform: capitalize;
     letter-spacing: 8px;
 }

 .welcome-text h3 {
     color: #fff;
     font-weight: 500;
     font-size: 20px;
     text-transform: capitalize;
     letter-spacing: 3px;
 }
 /*================================================
             ABOUT SECTION
==================================================*/

 .author-image-holder {
     text-align: center;
 }

 .author-image {
     height: 15em !important;
     width: 15em !important;
     border-radius: 50% !important;
     background-image: url("./assets/author.jpg");
     background-position: right;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .social-icon {
     margin-top: 10px;
     margin-left: -5px;
     text-align: center;
 }

 .social-icon a {
     width: 32px;
     height: 32px;
     /*color: #fff;*/
     display: inline-table;
     text-align: center;
     font-size: 16px;
     margin-left: 5px;
     margin-bottom: 15px;
     background: #fff;
     border-radius: 50%;
 }

 .social-icon a i {
     display: table-cell;
     vertical-align: middle;
 }

 .about-text {
     padding: 20px 0;
 }

 .about-text h3 {
     font-size: 32px;
     font-weight: 700;
 }

 .about-text p {
     font-size: 16px;
     line-height: 28px;
 }

 .about-text .btn {
     margin-right: 15px;
     margin-top: 15px;
 }

 .btn,
 a.btn {
     border-radius: 48px;
     cursor: pointer;
     font-size: 12px;
     font-weight: 700;
     height: 48px;
     letter-spacing: 0.2em;
     line-height: 48px;
     overflow: hidden;
     padding: 0 30px;
     text-align: center;
     text-transform: uppercase;
     -webkit-transition: all 0.4s ease 0s;
     transition: all 0.4s ease 0s;
     box-shadow: 0 7px 16px 0 rgba(50, 50, 50, 0.2);
 }

 .btn:hover,
 a.btn:hover,
 .btn.btn-effect:hover {
     box-shadow: 0px 16px 22px 0px rgba(50, 50, 50, 0.2);
     top: -5px;
 }

 .btn.extra,
 a.btn.extra {
     background: #f0f0f0;
     color: #000;
 }

 .btn:focus,
 a.btn:focus {
     outline: none;
 }

 .btn:hover,
 a.btn:hover {}

 .btn.extra:hover,
 a.btn.extra:hover {}
 /*================================================
             SKILS SECTION
==================================================*/

 .skils-space {
     height: 60px;
 }

 .skils-icon {
     float: left;
     width: 40px;
     font-size: 38px;
     line-height: 0;
 }

 .skils-content {
     margin-left: 55px;
 }

 .skils-content img {
     height: 3em;
     width: 3em;
     float: left;
     border-radius: 50%;
 }

 .skils-content h3 {
     line-height: 2em;
     padding-left: 4em;
     letter-spacing: 1px;
     font-size: 18px;
     margin-bottom: 15px;
     font-weight: 400;
 }

 .skils-content p {
     line-height: 24px;
 }
 /*================================================
            QUOTES AREA 
==================================================*/

 .quotes-area {
     background: url("../assets/quotes-bg.jpg");
     background-size: cover;
     background-attachment: fixed;
     position: relative;
     z-index: 1;
 }

 .quotes-area:after {
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #3e3434;
     opacity: .7;
     z-index: -1;
 }

 .quotes-content h3 {
     font-size: 42px;
     color: #fff;
     margin-bottom: 25px;
     font-size: 800;
 }

 .quotes-content p {
     color: #fff;
 }

 .quotes-content a {
     margin-top: 25px;
 }

 .quotes-area i.fa.fa-pencil {
     font-size: 16px;
     padding-right: 6px;
 }
 /*================================================
            CONTACT INFO SECTION
==================================================*/

 .contact-info-section {
     background: #f0f0f0;
 }

 .contact-form {
     position: relative;
 }

 .contact-form .form-group {
     margin-bottom: 20px;
 }

 .form-control {
     padding: 15px;
     height: auto;
     box-shadow: none !important;
     border: none;
     border-radius: 0;
     background: #fff;
     border-radius: 5px;
 }

 textarea.form-control {
     resize: vertical;
     height: 120px;
 }

 .form-control:focus {
     border: 0 solid;
 }

 .btn.disabled,
 .btn[disabled],
 fieldset[disabled] .btn {
     box-shadow: none;
     cursor: not-allowed;
     opacity: 1;
 }

 .btn.btn-effect.disabled {
     box-shadow: 0 7px 16px 0 rgba(50, 50, 50, 0.2);
     cursor: not-allowed;
 }

 .btn.btn-effect.disabled:hover {
     box-shadow: 0px 16px 22px 0px rgba(50, 50, 50, 0.2);
     top: -5px;
 }

 .full-adress {
     margin-left: 40px;
 }

 .contact-padding.col-md-12 {
     padding: 15px;
     background: #fff;
     margin-bottom: 15px;
     border-radius: 5px;
 }

 .full-adress p.phone,
 .full-adress p.mail,
 .full-adress p.adress {
     position: relative;
     padding-left: 25px;
     font-size: 16px;
     line-height: 24px;
     color: #000;
     margin: 0;
 }

 .full-adress p.phone:before,
 .full-adress p.mail:before,
 .full-adress p.adress:before {
     position: absolute;
     content: "\f041";
     font-family: "FontAwesome";
     top: 0;
     left: 0;
 }

 .full-adress p.phone:before {
     content: "\f095";
 }

 .full-adress p.mail:before {
     content: "\f003 ";
 }

 .full-adress p.adress:before {
     content: "\f041";
 }

 .full-adress p.phone a,
 .full-adress p.mail a {
     text-decoration: none;
     color: #000;
     font-size: 16px;
 }
 /*================================================
            FOOTER SECTION
==================================================*/

 .footer {
     background: url("../assets/intro-bg.jpg");
     background-size: cover;
     background-position: top;
     background-attachment: fixed;
     position: relative;
     z-index: 1;
 }

 footer:after {
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #3e3434;
     opacity: .7;
     z-index: -1;
 }

 .footer-text {
     padding: 1em;
 }

 .footer-text p {
     font-size: 16px;
     color: #fff;
     margin-bottom: 0px;
 }